In [1]:
#input and Output or I/O
#Loops
#Functions

In [2]:
name = input('please enter your name')

please enter your nameSuyash Rastogi

In [3]:
type (name)

str

In [5]:
age = input('enter your age')

enter your age28

In [6]:
type(age)

str

In [7]:
age=int(input('enter you age'))

enter you age28

In [8]:
type (age)

int

In [9]:
numbers = input('enter numbers').split()

enter numbers21 22 23 34 44 55 66

In [10]:
numbers

['21', '22', '23', '34', '44', '55', '66']

In [11]:
numbers = input('enter 5 numbers').split()

enter 5 numbers11 22 33 44 55 666 66

In [12]:
numbers

['11', '22', '33', '44', '55', '666', '66']

In [13]:
a= [int(x) for x in input('enter numbers').split(':')]

enter numbers11:22:33:44:55:56:66

In [14]:
a

[11, 22, 33, 44, 55, 56, 66]

In [16]:
sum(a)

287

In [17]:
type(a)

list

In [24]:
details = input('name, age, salary, MS').split(',')

name, age, salary, MSSuyash, 28, 5.28, False

In [25]:
details

['Suyash', ' 28', ' 5.28', ' False']

In [27]:
details = [eval(x) for x in input('name, age, salary, MS').split(',')]

name, age, salary, MS'Suyash', 28, 5.28, False

In [28]:
details

['Suyash', 28, 5.28, False]

In [34]:
type(details[2])

float

In [36]:
#OUTPUT
print('hello')

hello

In [37]:
print('hello')
print()
print('Suyash')

hello

Suyash

In [40]:
print('hello \n all')

hello
 all

In [41]:
print('hello \t all')

hello 	 all

In [47]:
print('Suyash'+' '+'Rastogi')

Suyash   Rastogi

In [50]:
#FORM

a, b, c = 10,20,30 
print('Values:', a, b, c)

Values: 10 20 30

In [51]:
print(a,b,c,sep=',')

10,20,30

In [56]:
print('Hello', end=' ')
print('Student', end=' ')
print('welcome to the class', end=' ')

Hello Student welcome to the class

In [57]:
print(10,20,30,40,50,sep='-', end='====')

10-20-30-40-50====

In [58]:
list1=[1,2,3,4]
tuple1= (5,6,7,8)
set1={9,10,11,12}

In [59]:
print(list1)
print(tuple1)
print(set1)

[1, 2, 3, 4]
(5, 6, 7, 8)
{9, 10, 11, 12}

In [60]:
print(list1, sep=':')
print(tuple1, sep=':')
print(set1, sep=':')

[1, 2, 3, 4]
(5, 6, 7, 8)
{9, 10, 11, 12}

In [61]:
print(list1, end=':')
print(tuple1, end=':')
print(set1, end=':')

[1, 2, 3, 4]:(5, 6, 7, 8):{9, 10, 11, 12}:

In [66]:
print(list1, tuple1, set1, sep='=')

[1, 2, 3, 4]=(5, 6, 7, 8)={9, 10, 11, 12}

In [79]:
a,b,c,d = 10.5,30,40,50
print('The value of a is %i' %a)
print('The value of c is %f' %c)

The value of a is 10
The value of c is 40.000000

In [100]:
name = 'Suyash'
Salary = 10000
Company = 'MRPL'

print('hello', name, 'your salary is', Salary, 'and your company is', Company)

hello Suyash your salary is 10000 and your company is MRPL

In [108]:
print('hello {}, your salary is {}, and your company is {}'.format(name, Salary, Company))

hello Suyash, your salary is 10000, and your company is MRPL

In [110]:
print('hello {0}, your salary is {1}, and your company is {2}'.format(name, Salary, Company))

hello Suyash, your salary is 10000, and your company is MRPL

In [112]:
print('hello {n}, your salary is {s}, and your company is {c}'.format(n=name, s=Salary, c=Company))

hello Suyash, your salary is 10000, and your company is MRPL

In [ ]:
#flow Control
#if else
#for
#while

In [114]:
marks = int(input('enter yout marks'))
if marks>35:
    print('you passed the exam')
else:
    print('your failed the exam')

enter yout marks36
you passed the exam

In [117]:
marks = int(input('enter yout marks'))
if marks<35:
    print('you passed the exam')
elif marks>=35 and marks<=60:
    print('you got avarage marks')
else:
    print('your got excellent marks')

enter yout marks55
you got avarage marks

In [121]:
x= int(input('enter the number'))
if x%2==0:
    print('Even')
else:
    print('odd')

enter the number34
Even

In [123]:
#for loop
x = 'Rahul'
for a in x:
    print(a)

R
a
h
u
l

In [127]:
name = 'Suyash Rastogi'
count = 0
for x in name:
    print(count)
    count = count + 1
    print(count)
    
print(count)

0
1
1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9
10
10
11
11
12
12
13
13
14
14

In [133]:
sales = [2324,5384,8983,9834]
profit = [422,985,349,453]

In [135]:
for x in range(0,len(sales)):
    print(profit[x]/sales[x])

0.18158347676419967
0.18294947994056462
0.038851163308471555
0.0460646735814521

In [137]:
#While loop

coupons = 5
utilised = 0
while utilised<6:
    print('total coupons left are' , coupons-utilised)
    utilised=utilised+1
print('no coupons left')

total coupons left are 5
total coupons left are 4
total coupons left are 3
total coupons left are 2
total coupons left are 1
total coupons left are 0
no coupons left

In [156]:
#Task
Given an integer, , perform the following conditional actions:

#If  is odd, print Weird
#If  is even and in the inclusive range of  to , print Not Weird
#If  is even and in the inclusive range of  to , print Weird
#If  is even and greater than , print Not Weird

SyntaxError: invalid syntax (<ipython-input-156-bc68962005af>, line 2)

In [158]:
n= int(input('enter the number'))
if n%2:
    print('Weird')
elif 2<=n <=5:
    print('Not Weird')
elif 6 <= n <= 20:
    print("Weird")
else:
    print("Not Weird")

enter the number24
Not Weird