In [ ]:
#OPERATORS
    #Arthimatic operators
    #Relational or comparision operators
    #Logical operators
    #Equality operators
    #Bitwise operators
    #Assignment operators
    #Special operators
    #tenary operators

In [2]:
#Arthematic Operator

a=10
b= 2

print('a+b:', a+b)
print('a-b:', a-b)
print('a*b:', a*b)
print('a/b:', a/b)
print('a%b:', a%b)
print('a//b:', a//b)
print('a**b:', a**b)

a+b: 12
a-b: 8
a*b: 20
a/b: 5.0
a%b: 0
a//b: 5
a**b: 100

In [3]:
#Relational Operator

a= 10
b=20

print('a>b:', a>b)
print('a<b:', a<b)
print('a>=b:', a>=b)
print('a<=b:', a<=b)

a>b: False
a<b: True
a>=b: False
a<=b: True

In [5]:
a= "SUYASH"
b= "suyash"

print('a>b:', a>b)
print('a<b:', a<b)
print('a>=b:', a>=b)
print('a<=b:', a<=b)

a>b: False
a<b: True
a>=b: False
a<=b: True

In [7]:
#Equality Operators

list1 = [1,2,3,4,5]
list2 = [1,2,3,4,6]
list1 == list2

False

In [8]:
10 != '10'

True

In [ ]:
#LOGICAL OPERATORS

and 
or
not

In [3]:
#non zero number will be true
#if empty string result be br false
#when zero result will be false

x = 1
y = 10

x and y

10

In [12]:
#ASSIGNMENT OPERATOR

x = 100
x -= 90
print(x)

10

In [13]:
x = 100
x -= 90
print(x)
x +=70
print(x)

10
80

In [15]:
#TERNARY OPERATOR

a = int(input('please enter 1st number'))
b = int(input('please enter 2nd number'))

x=a if a>b else b
print(x)

please enter 1st number26
please enter 2nd number22
26

In [17]:
a = int(input('please enter 1st number'))
b = int(input('please enter 2nd number'))
c = int(input('please enter 3rd number'))

x=a if a>b & a>c else b if b>c else c
print(x)

please enter 1st number7
please enter 2nd number6
please enter 3rd number5
7

In [1]:
a = int(input('please enter 1st number'))
b = int(input('please enter 2nd number'))
c = int(input('please enter 3rd number'))

x=a if a>=b and a>=c else b if b>c else c
print(x)

please enter 1st number23
please enter 2nd number34
please enter 3rd number45
45

In [ ]:
#FUNCTIONS IN PYTHON
  #When we are wrting multiple lines of code then we use function key.Ex coverting celsius to fahrenheit
  #this type of programming known as functional programming 

#String functions
#Regular expressions

In [2]:
def greeting():
    print('Good Morning')
greeting()

Good Morning

In [9]:
def greetings(name):
    print('Hello,', name, 'Good Morning')
greetings('Suyash')

Hello, Suyash Good Morning

In [10]:
def greetings(name ='Guest'):
    print('Hello,', name, 'Good Morning')
greetings()

Hello, Guest Good Morning

In [41]:
def square(x):
    print('The square of {} is : {}'.format(x,x*x))
square(10)

The square of 10 is : 100

In [19]:
def sum(a,b):
    print(a+b)
sum(10,20)

30

In [20]:
def sub(a,b):
    print(a-b)
sub(20,12)

8

In [25]:
def evenodd(n):
    if n%2 == 0:
        print('{} the number is even'.format(n))
    else:
        print('{} the number is odd'.format(n))
evenodd(10)
evenodd(23)
evenodd(10.2)

10 the number is even
23 the number is odd
10.2 the number is odd

In [27]:
def fact(n):
    result = 1
    while n>=1:
        result = result * n
        n = n-1
    print(result)
fact(5)

120

In [7]:
def fact(n):
    result = 1
    while n>=1:
        result = result * n
        n = n-1
    print(result)
fact(12)

479001600

In [9]:
def fact(n):
    result = 1
    while n>=1:
        result = result * n
        n = n-1
    print(result)
        
for i in range(1,11):
    print('the factorial of {} is {}'.format(i, fact(i)))

1
the factorial of 1 is None
2
the factorial of 2 is None
6
the factorial of 3 is None
24
the factorial of 4 is None
120
the factorial of 5 is None
720
the factorial of 6 is None
5040
the factorial of 7 is None
40320
the factorial of 8 is None
362880
the factorial of 9 is None
3628800
the factorial of 10 is None

In [37]:
def fact(n):
    result = 1
    while n>=1:
        result = result * n
        n = n-1
    return result
for i in range(1,11):
    print('the factorial of {} is {}'.format(i,fact(i)))

the factorial of 1 is 1
the factorial of 2 is 2
the factorial of 3 is 6
the factorial of 4 is 24
the factorial of 5 is 120
the factorial of 6 is 720
the factorial of 7 is 5040
the factorial of 8 is 40320
the factorial of 9 is 362880
the factorial of 10 is 3628800

In [38]:
def calc(a,b,c):
    sum = a+b+c
    sub = a-b-c
    mul = a*b*c
    div = a/b/c
    return sum, sub, mul, div
calc(2,3,10)

(15, -11, 60, 0.06666666666666667)

In [40]:
def calc(a,b):
    sum = a+b
    sub = a-b
    mul = a*b
    div = a/b
    return {'sum': sum, 'sub': sub, 'mul': mul, 'div': div}
calc(20,2)

{'sum': 22, 'sub': 18, 'mul': 40, 'div': 10.0}

In [12]:
count =0
while count<9:
    print('the count is',count)
    count=count+1
print('Goodbye!')

the count is 0
the count is 1
the count is 2
the count is 3
the count is 4
the count is 5
the count is 6
the count is 7
the count is 8
Goodbye!

In [ ]:
#Type of Arguments
    #Positional
    #Keywords
    #Default
    #variable length

In [24]:
'''Keyword Argument'''
def greeting(name,company):
    print('Hello', name,'your company is',company)
greeting(company='MRPL', name='Suyash')

Hello Suyash your company is MRPL

In [27]:
'''Default Argument'''
def greeting(company,name='Guest'):
    print('Hello',name,'your company is',company)
greeting('MRPL')

Hello Guest your company is MRPL

In [35]:
'''Variable Length'''
def sum(*a):
    result=0
    for i in a:
        result=result+i
    print(result)
sum(10,20,30,40,50,60)

210

In [ ]:
#Two type of Variable
    #Global
    #Local

In [40]:
z=10
def f2():
    print('f2',z)
    
def f1():
    global z
    z=19
    print('f1',z)
f1()
f2()

f2 10

In [41]:
z=10
def f2():
    print('f2',z)
    
def f1():
    global z
    z=19
    print('f1',z)
f2()
f1()

f2 10
f1 19

In [46]:
a=10
def f1():
    a=20
    print(a)
    print(globals()['a'])
f1()

20
10

In [47]:
#Nested Function

def outer():
    print('outer is calling')
    def inner():
        print('inner is calling')
    inner()
outer()

outer is calling
inner is calling

In [48]:
#Lambda Function also know as Anonymous or Nameless Functions

m1=lambda a,b:a+b
m1(10,20)

30

In [49]:
m2=lambda a,b : a if a>b else b
m2(32,34)

34