In [3]:
customer_name = "Suyash"

In [4]:
customer_name

'Suyash'

In [5]:
type (customer_name)

str

In [6]:
customer_age = 28

In [7]:
customer_age

28

In [8]:
type (customer_age)

int

In [11]:
sale = 20000.50

In [12]:
sale

20000.5

In [13]:
type (sale)

float

In [14]:
sale>15000

True

In [16]:
type (sale>15000)

bool

In [2]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [7]:
a = 10
print (id(a))
b = 10
print (id(b))

c = 258
print (id(c))
d = 259
print (id(d))

140723458384560
140723458384560
2469430000112
2469430000336

In [8]:
a = 0b1111

In [9]:
type (a)

int

In [10]:
a

15

In [19]:
#Octal is base of eight

In [24]:
a = 0o4444

In [25]:
a

2340

In [ ]:
hexadecimal #0-9, a to f or A to F

In [13]:
a = 0xface

In [14]:
a

64206

In [26]:
a = "The 'Python' is amazing language"

In [27]:
a

"The 'Python' is amazing language"

In [29]:
a = '''The 'Python' is "amazing" language'''

In [30]:
a

'The \'Python\' is "amazing" language'

In [31]:
print (a)

The 'Python' is "amazing" language

In [34]:
a = 'the python'

In [37]:
a[4:11]

'python'

In [38]:
a[-1:-6]

''

In [40]:
a[-3:]

'hon'

In [41]:
a[2:]

'e python'

In [43]:
ages = [23,34,22,45,12,65,34,16]

In [44]:
ages

[23, 34, 22, 45, 12, 65, 34, 16]

In [45]:
type(ages)

list

In [47]:
type (ages[4])

int

In [48]:
len(ages)

8

In [51]:
ages[-2:-6:-2]

[34, 12]

In [52]:
ages[6:0:-1]

[34, 65, 12, 45, 22, 34]

In [53]:
ages[4:7]

[12, 65, 34]

In [54]:
ages

[23, 34, 22, 45, 12, 65, 34, 16]

In [56]:
ages[4:-2:1]

[12, 65]

In [57]:
ages[3:-2:-1]

[]

In [58]:
ages

[23, 34, 22, 45, 12, 65, 34, 16]

In [59]:
ages[3]=38

In [60]:
ages

[23, 34, 22, 38, 12, 65, 34, 16]

In [63]:
ages.append (100)

In [64]:
ages

[23, 34, 22, 38, 12, 65, 34, 16, 100]

In [66]:
ages.clear()

In [67]:
ages

[]

In [74]:
ages=[23, 34, 22, 45, 12, 65, 34, 16]

In [75]:
ages

[23, 34, 22, 45, 12, 65, 34, 16]

In [76]:
ages1 = ages.copy()

In [77]:
ages1

[23, 34, 22, 45, 12, 65, 34, 16]

In [83]:
ages.count(22)

1

In [84]:
ages.extend([26,16,34,56])

In [86]:
ages

[23, 34, 22, 45, 12, 65, 34, 16, 26, 16, 34, 56]

In [87]:
ages.index(16)

7

In [93]:
ages.insert(9, 71)

In [94]:
ages

[23, 34, 22, 45, 12, 65, 34, 16, 71, 71, 26, 16, 34, 56, 71]

In [95]:
ages.pop()

71

In [96]:
ages

[23, 34, 22, 45, 12, 65, 34, 16, 71, 71, 26, 16, 34, 56]

In [99]:
ages.remove(71)

In [100]:
ages

[23, 34, 22, 45, 12, 65, 34, 16, 71, 26, 16, 34, 56]

In [103]:
ages.reverse()

In [104]:
ages

[56, 34, 16, 26, 71, 16, 34, 65, 12, 45, 22, 34, 23]

In [105]:
ages.sort()

In [106]:
ages

[12, 16, 16, 22, 23, 26, 34, 34, 34, 45, 56, 65, 71]

In [118]:
ages = [12, 16, 16, 22, 23, 26, 34, 34, 34, 45, 56, 65, 71]

In [119]:
ages

[12, 16, 16, 22, 23, 26, 34, 34, 34, 45, 56, 65, 71]

In [121]:
del ages

In [122]:
ages

NameError: name 'ages' is not defined

In [1]:
#tuple

In [2]:
tuple1 = (1,2,3,4,5,6,7,6,8)

In [3]:
tuple1

(1, 2, 3, 4, 5, 6, 7, 6, 8)

In [4]:
type(tuple1)

tuple

In [6]:
tuple1.count(6)

2

In [7]:
tuple1.index(7)

6

In [8]:
sum(tuple1)

42

In [9]:
len(tuple1)

9

In [10]:
del(tuple1)

In [11]:
tuple1

NameError: name 'tuple1' is not defined

In [ ]:
#Range

In [13]:
range(0,10)

range(0, 10)

In [15]:
type(range(0,10))

range

In [16]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [19]:
list(range(0,10,-2))

[]

In [20]:
list(range(10,0,-3))

[10, 7, 4, 1]

In [21]:
list(range(10,-10,-2))

[10, 8, 6, 4, 2, 0, -2, -4, -6, -8]

In [ ]:
#Dictionaries

In [24]:
dict1={'A':23, 'B':34, 'C':43}

In [28]:
dict1['B']

34

In [37]:
dict1 = {'student_name':['A','B','C','D','E'],'student_age':[1,2,3,4,5]}

In [38]:
dict1

{'student_name': ['A', 'B', 'C', 'D', 'E'], 'student_age': [1, 2, 3, 4, 5]}

In [39]:
dict1['student_name']

['A', 'B', 'C', 'D', 'E']

In [40]:
dict1['student_age']

[1, 2, 3, 4, 5]

In [43]:
dict1['student_name'][1]='Suyash'

In [44]:
dict1['student_name']

['A', 'Suyash', 'C', 'D', 'E']

In [47]:
dict1['Region']=['South','East','West','North','SouthWest']

In [48]:
dict1

{'student_name': ['A', 'Suyash', 'C', 'D', 'E'],
 'student_age': [1, 2, 3, 4, 5],
 'Region': ['South', 'East', 'West', 'North', 'SouthWest']}

In [49]:
dict1['Subject']=['Maths','Science','Commerce','Biology','Hindi']

In [50]:
dict1

{'student_name': ['A', 'Suyash', 'C', 'D', 'E'],
 'student_age': [1, 2, 3, 4, 5],
 'Region': ['South', 'East', 'West', 'North', 'SouthWest'],
 'Subject': ['Maths', 'Science', 'Commerce', 'Biology', 'Hindi']}

In [51]:
import pandas as pd

In [53]:
pd.DataFrame(dict1)

  student_name  student_age     Region   Subject
0            A            1      South     Maths
1       Suyash            2       East   Science
2            C            3       West  Commerce
3            D            4      North   Biology
4            E            5  SouthWest     Hindi

In [55]:
dict2 = dict1.fromkeys({'Student_name','Student_age','Region','Roll_number'},'NA')

In [56]:
dict2

{'Roll_number': 'NA',
 'Student_name': 'NA',
 'Region': 'NA',
 'Student_age': 'NA'}

In [57]:
dict1

{'student_name': ['A', 'Suyash', 'C', 'D', 'E'],
 'student_age': [1, 2, 3, 4, 5],
 'Region': ['South', 'East', 'West', 'North', 'SouthWest'],
 'Subject': ['Maths', 'Science', 'Commerce', 'Biology', 'Hindi']}

In [60]:
dict1['sub']=dict1.pop('Subject')

In [61]:
dict1

{'student_name': ['A', 'Suyash', 'C', 'D', 'E'],
 'student_age': [1, 2, 3, 4, 5],
 'Region': ['South', 'East', 'West', 'North', 'SouthWest'],
 'sub': ['Maths', 'Science', 'Commerce', 'Biology', 'Hindi']}

In [62]:
dict1.popitem()

('sub', ['Maths', 'Science', 'Commerce', 'Biology', 'Hindi'])

In [63]:
dict1

{'student_name': ['A', 'Suyash', 'C', 'D', 'E'],
 'student_age': [1, 2, 3, 4, 5],
 'Region': ['South', 'East', 'West', 'North', 'SouthWest']}

In [64]:
dict1.setdefault('DOJ')

In [65]:
dict1

{'student_name': ['A', 'Suyash', 'C', 'D', 'E'],
 'student_age': [1, 2, 3, 4, 5],
 'Region': ['South', 'East', 'West', 'North', 'SouthWest'],
 'DOJ': None}

In [66]:
dict1.keys()

dict_keys(['student_name', 'student_age', 'Region', 'DOJ'])

In [67]:
dict1.values()

dict_values([['A', 'Suyash', 'C', 'D', 'E'], [1, 2, 3, 4, 5], ['South', 'East', 'West', 'North', 'SouthWest'], None])

In [ ]:
#Sets

In [71]:
studid={1,1,1,1,2,2,3,3,4,7,4,5,6,6,6,8}

In [72]:
studid

{1, 2, 3, 4, 5, 6, 7, 8}

In [75]:
studid1=studid

In [76]:
studid1

{1, 2, 3, 4, 5, 6, 7, 8}

In [77]:
studid.add(26)

In [78]:
studid1

{1, 2, 3, 4, 5, 6, 7, 8, 26}

In [86]:
studid1.discard(8)

In [87]:
studid1

{1, 2, 3, 4, 5, 6, 7, 26}

In [88]:
studid1.remove(6)

In [89]:
studid1

{1, 2, 3, 4, 5, 7, 26}

In [94]:
studid1.update([22,55])

In [95]:
studid1

{1, 2, 3, 4, 5, 7, 22, 26, 55}

In [97]:
set1={1,2,3,4}

In [111]:
set1

set()

In [99]:
set2={3,4,5}

In [112]:
set2

{3, 4, 5}

In [101]:
set1.difference(set2)

{1, 2}

In [102]:
set2.difference(set1)

{5}

In [104]:
set1.difference_update(set2)

In [106]:
set1

{1, 2}

In [113]:
set1.intersection_update(set2)

In [114]:
set1

set()

In [115]:
set1.isdisjoint(set2)

True