In [3]:
customer_name = "Suyash"

In [4]:
customer_name

'Suyash'

In [5]:
type (customer_name)

str

In [6]:
customer_age = 28

In [7]:
customer_age

28

In [8]:
type (customer_age)

int

In [11]:
sale = 20000.50

In [12]:
sale

20000.5

In [13]:
type (sale)

float

In [14]:
sale>15000

True

In [16]:
type (sale>15000)

bool

In [2]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [7]:
a = 10
print (id(a))
b = 10
print (id(b))

c = 258
print (id(c))
d = 259
print (id(d))

140723458384560
140723458384560
2469430000112
2469430000336

In [8]:
a = 0b1111

In [9]:
type (a)

int

In [10]:
a

15

In [19]:
#Octal is base of eight

In [24]:
a = 0o4444

In [25]:
a

2340

In [ ]:
hexadecimal #0-9, a to f or A to F

In [13]:
a = 0xface

In [14]:
a

64206

In [26]:
a = "The 'Python' is amazing language"

In [27]:
a

"The 'Python' is amazing language"

In [29]:
a = '''The 'Python' is "amazing" language'''

In [30]:
a

'The \'Python\' is "amazing" language'

In [31]:
print (a)

The 'Python' is "amazing" language

In [34]:
a = 'the python'

In [37]:
a[4:11]

'python'

In [38]:
a[-1:-6]

''

In [40]:
a[-3:]

'hon'

In [41]:
a[2:]

'e python'

In [43]:
ages = [23,34,22,45,12,65,34,16]

In [44]:
ages

[23, 34, 22, 45, 12, 65, 34, 16]

In [45]:
type(ages)

list

In [47]:
type (ages[4])

int

In [48]:
len(ages)

8

In [51]:
ages[-2:-6:-2]

[34, 12]

In [52]:
ages[6:0:-1]

[34, 65, 12, 45, 22, 34]

In [53]:
ages[4:7]

[12, 65, 34]

In [54]:
ages

[23, 34, 22, 45, 12, 65, 34, 16]

In [56]:
ages[4:-2:1]

[12, 65]

In [57]:
ages[3:-2:-1]

[]

In [58]:
ages

[23, 34, 22, 45, 12, 65, 34, 16]

In [59]:
ages[3]=38

In [60]:
ages

[23, 34, 22, 38, 12, 65, 34, 16]

In [63]:
ages.append (100)

In [64]:
ages

[23, 34, 22, 38, 12, 65, 34, 16, 100]

In [66]:
ages.clear()

In [67]:
ages

[]

In [74]:
ages=[23, 34, 22, 45, 12, 65, 34, 16]

In [75]:
ages

[23, 34, 22, 45, 12, 65, 34, 16]

In [76]:
ages1 = ages.copy()

In [77]:
ages1

[23, 34, 22, 45, 12, 65, 34, 16]

In [83]:
ages.count(22)

1

In [84]:
ages.extend([26,16,34,56])

In [86]:
ages

[23, 34, 22, 45, 12, 65, 34, 16, 26, 16, 34, 56]

In [87]:
ages.index(16)

7

In [93]:
ages.insert(9, 71)

In [94]:
ages

[23, 34, 22, 45, 12, 65, 34, 16, 71, 71, 26, 16, 34, 56, 71]

In [95]:
ages.pop()

71

In [96]:
ages

[23, 34, 22, 45, 12, 65, 34, 16, 71, 71, 26, 16, 34, 56]

In [99]:
ages.remove(71)

In [100]:
ages

[23, 34, 22, 45, 12, 65, 34, 16, 71, 26, 16, 34, 56]

In [103]:
ages.reverse()

In [104]:
ages

[56, 34, 16, 26, 71, 16, 34, 65, 12, 45, 22, 34, 23]

In [105]:
ages.sort()

In [106]:
ages

[12, 16, 16, 22, 23, 26, 34, 34, 34, 45, 56, 65, 71]

In [118]:
ages = [12, 16, 16, 22, 23, 26, 34, 34, 34, 45, 56, 65, 71]

In [119]:
ages

[12, 16, 16, 22, 23, 26, 34, 34, 34, 45, 56, 65, 71]

In [121]:
del ages

In [122]:
ages

NameError: name 'ages' is not defined